/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2016, 6:59:16 PM
    Author     : Lateefah
*/

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.login-panel {
    margin-top: 15%;
}

.panel {
    margin-right: 5px;
}

@media screen and (min-width: 768px){ 
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 4em;
        font-weight: 700;
        line-height: normal;
        color: dimgrey;
    }
    .brand a{
        text-decoration: none;
        color: dimgrey;
    }
}

.video-well{
    width: 20%;
    height: 400px;
    clear: right;
    float: left;
}

video {
    width: 100%;
}

.video-listing {
    height: 150px;
}
.well {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.video-listing-wrap {
    /* height: 400px; */
    float: left;
    clear: none;
    background-color: #ececec;
    border-radius: 5px;
    border: 5px solid #ffffff;
    padding-top: 20px;
}

.video-title {
    height: 50px;
    line-height: 1.4;
}

.video-description {
    height: 60px;
    line-height: 1.5;
}

.logout-sidebar {
    width: 90px;
    height: 40px;
    position: fixed;
    /* left: 0px; */
    padding: 8px 8px 8px 15px;
    top: 120px;
    border: 1px solid dimgrey;
    border-radius: 3px;
}

.logout-sidebar a{
    color: dimgray;
    text-decoration: none;
}